<h2>Preview: javaScript innerHTML</h2>
<div id="preview-native" class="preview-layout"></div>

<!-- test open file browser dialog with button thay vì input -->
<!-- hidden input đi để dùng button cho toolbar -->
<input
  type="file"
  (change)="handleFileInput($event.target.files)"
  id="image"
  name="image"
  accept="image/*"
/>

<p>dùng button kích hoạt input file để tạo toolbar button ở Quill Editor</p>
<button id="button-file">open files Browser..</button>

<br />
<p>image hiển thị dạng Url base64</p>
<img [src]="imageUrlBase64" alt="no image load" />
